html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  background-color: #2a4995;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}
